.header-wrapper {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 5px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.chats-body {
  padding: 100px 0 0 0;
  background-image: url("../images/chatBg.png");
  min-height: 150vh;
}

.chats-body .status-bar,
.chats-body .header {
  padding: 0px 20px;
}

.chat__write {
  position: fixed;
  bottom: 50px;
  width: 80%;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px 20px;
  border-radius: 40px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}

.chat__write {
  bottom: 0px;
  width: 100%;
  border-radius: 0;
}

.chat__write i {
  font-size: 22px;
}

.chat__write-column:nth-child(2) {
  width: 80%;
}
.chat__write-column input {
  padding: 10px;
  width: 100%;
  border: none;
  font-size: 14px;
}

.chat__write-column input:focus {
  outline: none;
}

.chat-screen .chat__messages {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.chat__messages .chat__timestamp {
  background-color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}
.chat-screen .message {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.incoming-message {
  align-self: flex-start;
}

.sent-message {
  align-self: flex-end;
}

.message img {
  margin-right: 15px;
}

.message .message__bubble {
  display: block;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}

.incoming-message .message__author {
  margin-top: 10px;
  display: block;
  font-weight: 600;
  font-size: 12px;
}

.incoming-message .message__bubble {
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(to right, #d9a7c7, #fffcdc);
  color: black;
}

.sent-message .message__bubble {
  border-bottom-right-radius: 0px;
  background-image: linear-gradient(to right, #b2fefa, #0ed2f7);
}
