.friend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend__avatar {
  border-radius: 35%;
}
.friend__avatar.g-avatar {
  width: 70px;
  height: 70px;
}
.friend__avatar.m-avatar {
  width: 60px;
  height: 60px;
}
.friend__avatar.s-avatar {
  width: 50px;
  height: 50px;
}

.friend .friend__column {
  display: flex;
  align-items: center;
}
.friend .friend__avatar {
  margin-right: 15px;
}
.friend__content .friend__name {
  display: block;
  font-size: 17px;
  margin-bottom: 5px;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp {
  opacity: 0.6;
}
.friend__content .friend__bottom-text {
  font-size: 14px;
}
.friend__content .friend__status,
.friend .chat__timestamp {
  font-size: 12px;
}
.friend .friend__now-listening {
  padding: 5px 10px;
  border: 1px solid #35d764;
  border-radius: 15px;
  font-size: 14px;
}
.friend__now-listening span {
  opacity: 0.6;
}
.friend__now-listening i {
  font-size: 12px;
  padding-left: 5px;
}

.friend .friend__add-btn {
  background-color: #fafafa;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}
