.nav {
  background-color: #f0f0f0;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  padding: 20px 50px;
  border-top: 1px solid #f7f7f7;
}
.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 22px;
  color: #2f363e;
}
.nav .nav__list-link {
  position: relative;
}
.nav .nav__badge {
  position: absolute;
  right: -8px;
  top: -10px;
  color: white;
  font-size: 12px;
  background-color: #e65f3e;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

@keyframes showNavBar {
  from {
    transform: translateY(60px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(60px);
  animation: showNavBar 0.5s 0.3s ease-in-out forwards;
}
